@model List<MyPortfolioMVC.Models.TblSocialMedias>

<h3 class="text-pretitle">Sosyal Medya Hesaplarım</h3>

   
    <ul class="contact-social">
        @foreach (var item in Model)
        {
            <li><a href="#0">@item.Name</a></li>
        }
    </ul>


