@model MyPortfolioMVC.Models.TblCategories
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h2>Kategori Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.CategoryId)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control" })
    @*<input type="text" name="Name" class="form-control" />*@
    <br />
    <button class="btn btn-success">Güncelle</button>

</form>
